.child-container{
    border: 1px solid blue;
    border-radius: 10px;
    width: 90vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}