
<!-- <div class="text-layout">

  <h1>{{nombre | titlecase}}</h1>
</div>

<button pButton  label="Cambiar nombre" 
(click)="mostrarNombre()"
icon="pi pi-check" iconPos="right"
class="p-button-help">
 
   </button>

   <p-card header="{{nombre | uppercase}}"
           subheader="{{nombre | lowercase}}" >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis veritatis nihil alias assumenda nesciunt voluptatem exercitationem aut, et totam laudantium sit esse cupiditate sunt minima at autem officia ab odit.
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>